# Ignore IntelliJ IDEA project files
.idea/
# Ignore compiled Java class files
*.class
# Ignore build output directory (common for IntelliJ IDEA)
out/
# Ignore IntelliJ IDEA module files
*.iml
# Ignore backup files
*~
# Ignore Gradle directories
refactoring-lab/.gradle/
# Ignore build directory (common for Gradle, Maven, etc.)
build/

.gradle
gradle
